* 
    margin: 0
    padding: 0
    box-sizing: border-box

button 
    background: white
    border: 1px solid red
    border-radius: 50%
    height: 40px
    width: 40px
    outline: 0
    user-select: none

canvas
    border: 1px solid black

.canvasContainer
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    width: 100%
    height: 300px

.buttonsContainer
    width: 80%
    display: flex
    justify-content: flex-start

.moveButtonsContainer
    width: 122px
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center

.middleButtonsContainer
    display: flex
    justify-content: space-between
    width: 100%